<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <!--让360以极速模式打开，否则会以兼容模式打开，360是双内核-->
    <meta name="applicable-device" content="pc">
    <!--提示某些浏览器这是桌面网页-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--支持移动端正比例打开不缩放-->
    <meta name="author" content="黄金亮">
    <title>小桥流水</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../libs/jquery/jquery-1.90.min.js"></script>
</head>

<body>
    <h1>default nav</h1>
    <div class="nav">
        <ul class="list">
            <li><a href="/index.html">首页</a></li>
            <li><a href="/template/1.html">昨夜西风</a></li>
            <li><a href="/template/2.html">小桥流水</a></li>
            <li><a href="/template/3.html">互联网那些事</a></li>
            <li><a href="/template/4.html">hello world</a></li>
        </ul>
    </div>
</body>
<h1>小桥流水</h1>
<script src="../js/appliction.js"></script>

</html>